@use 'colors' as *;

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background;

    .modal-background {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background;

        .modal {
            position: relative;
            background-color: $foreground;
            display: flex;
            flex-direction: column;
            padding: 64px 64px;
            gap: 18px;
            border-radius: 2px;

            h2 {
                position: absolute;
                top: 0;
                right: 8px;
                cursor: pointer;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 24px;
    
                input {
                    padding: 8px;
                    background-color: transparent;
                    border: none;
                    border-bottom: solid 1px $text-primary;
    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        padding: 64px 64px;
        gap: 18px;
        background-color: $foreground;
        border-radius: 2px;
    }

    button {
        padding: 8px;
        background-color: $green-primary;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    
        &:focus {
            outline: none;
        }
    }
}