<main>
    @if(showModal) {
        <div class="modal-background">
            <div class="modal">
                <h2 (click)="modalControl()">x</h2>
                <form [formGroup]="formGroup" (ngSubmit)="editUser()">
                    <input type="text" placeholder="username" formControlName="username">
                    <input type="email" placeholder="email" formControlName="email">
                    <input type="password" placeholder="new password" formControlName="password">
                    <button>confirm</button>
                </form>
            </div>
        </div>
    }
    <div class="profile-container">
        <button class="delete" (click)="delete()">DELETE ACCOUNT</button>
        <h3>username: {{ username }}</h3>
        <h3>email: {{ email }}</h3>
        <button (click)="modalControl()">edit user</button>
        <button (click)="logout()">logout</button>
    </div>
</main>