@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    color: $text-primary;
    font-weight: 500;
}